# Ensure that we always test against the latest versions
# as soon as they get released by pinning them here and
# letting `dependabot` update them for new releases.
Pillow==10.4.0
lxml==5.2.2
python-bidi==0.6.0
reportlab==4.2.2
