# Ensure that we always test against the latest versions
# as soon as they get released by pinning them here and
# letting `dependabot` update them for new releases.
Pillow==11.2.1
lxml==5.4.0
python-bidi==0.6.6
reportlab==4.4.0
pypdf==5.5.0
