# Ensure that we always test against the latest versions
# as soon as they get released by pinning them here and
# letting `dependabot` update them for new releases.
Pillow==12.2.0
lxml==6.1.1
python-bidi==0.6.10
reportlab==5.0.0
pypdf==6.14.0
